attrs==19.1.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
crayons==0.2.0
easy-setup==0.0.1
idna==2.8
packaging==19.0
pathlib2==2.3.3
pylms==1.0
pyparsing==2.3.1
pythonfinder==1.2.0
requests==2.21.0
scandir==1.10.0
six==1.12.0
urllib3==1.24.1
virtenv==0.2.5
virtualenv==16.4.3
virtualenvwrapper-win==1.2.5
vistir==0.3.1
yaspin==0.14.1
