blinker==1.4
boto3==1.9.148
botocore==1.12.148
configparser==3.8.0
docutils==0.14
futures==3.2.0
jmespath==0.9.3
mfrc522==0.0.7
pylms==1.0
python-dateutil==2.8.0
python-vlc==3.0.6109
pytz==2019.1
RPi.GPIO==0.6.5
s3transfer==0.1.13
simple-mappers==1.0.3
simple-queue==1.0.10
six==1.12.0
spidev==3.4
urllib3==1.24.3
